# Ignore everything
*

# Unignore all files inside this subdirectory
!spacecraft_attitude_control/
!spacecraft_attitude_control/*
!spacecraft_attitude_control/figures/
!spacecraft_attitude_control/figures/*

# Keep these files
!.gitignore
!*.m
!sac_constrained_sol.mat
!sac_unconstrained_sol.mat
# etc...
